body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    color:rgb(69, 128, 196);
    font-weight: bold;
    font-size: 28px;
}
h2.main{
    display: inline;
}
a{
    text-decoration: none;
} 
div.box{   
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 10px 10px;
    width:55%;
    margin: 20px auto;
    background-color: rgb(240, 240, 240);
}
@media screen and (max-width: 900px){
    div.box{
        width: 80%;
    }
}
div.link{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.goto{
    background-color: white;
    border-radius: 2px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 17px;
}
div.box8{
    display: flex;
    justify-content:space-evenly;
    height: 70px;
    align-items: center;
    background-color:white;
    border-bottom: 1px solid #cfc8c8;
}
div.box9{
    display: flex;
    margin-top: 15px;
    height: 140px;
    align-items: center;
    transform: translateY(-300px);
    opacity: 0;
    position: absolute;
}
div.title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 249, 250);
    margin-top: 40px;
}
p.footer{
    font-size: 15px;
    color: black;
}
div.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.goto:hover{
    background-color:rgb(238,238,238);
}
a.main{
    color: white;
}
div.else{
    height: 20px;
}
div.line{
    height:15px;
    width: 1px;
    background-color: black;
    margin: 5px;
}
a.just:hover{
    font-weight: bold;
}
#line{
    height:1px;
    width: 100%;
    border-top: 1px solid #cfc8c8;
}
a{
    color: black;
}
.box10{
    display: flex;
    justify-content: center;
}
.goto1{
    display: flex;
    flex-direction: column;
}
.goto2{
    background-color: white;
    border-radius: 2px;
    height: 43px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 17px;
}
.goto3{
    border-radius: 2px;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(70, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 17px;
    opacity: 0;
}
div.link1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(245, 245, 245);
    border: 1px solid black;
}
div.goto2:hover{
    background-color: rgb(238,238,238);
}
.box8:hover+.box9{
    transform:none;
    opacity: 1;
    transition: .4s;
    right: 230px;
}
.box9:hover{
    transform: none;
    opacity: 1;
    right: 230px;
}
div.arrow{
    border-top: 2px solid black;
    border-left: 2px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    margin-left: 12px;
}
/* .arrow:active{
    transform: rotate(405deg);
    transition: .2s;
}
.arrow:active ~.box9{
    transform:none;
    opacity: 1;
    transition: .1s;    
} */