#part1{
    background-color: #FFCCCC;
    padding: 10px;
    margin:0 auto;
    width: 90%;
    border-radius: 5px;
    border:1.5px solid black;
}
img{
    width: 180px;
    height: 400px;
}
a.just:hover{
    font-weight: bold;
}
.box0{
    display: flex;
    justify-content: space-around;
}