code{
    font-size: 15px;
}
pre{
    background-color: rgb(240,240,240);
    overflow: auto;
}
.pic1{
    width: 400px;
    height: 400px;
}
.pic2{
    width: 660px;
    height: 110px;
}
.pic1,.pic2{
    text-align: center;
}
.pic3{
    width: 500px;
    height: 250px;
}
.box0{
    display: flex;
    justify-content: space-around;
}